html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, body * {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.hidden {
  display: none; }

.bg-exit {
  z-index: 10;
  cursor: pointer; }
  .bg-exit.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

#adContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 728px;
  background-color: black; }

.border {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 728px;
  border: 1px black solid;
  z-index: 1; }

.endframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 728px; }

.powder {
  position: absolute;
  top: -64px;
  left: 0;
  height: 220px;
  width: 728px;
  background: url(../images/powder.jpg) no-repeat;
  -ms-transform-origin: center 60%;
  transform-origin: center 60%; }

.wrestlers {
  position: absolute;
  top: -34px;
  left: 250px;
  height: 300px;
  width: 300px;
  background: url(../images/wrestler.png) no-repeat;
  -ms-transform-origin: 30% center;
  transform-origin: 30% center; }

.logo {
  position: absolute;
  bottom: 11px;
  left: 36px;
  height: 67px;
  width: 133px;
  background: url(../images/logo.png) no-repeat; }

.lockup {
  position: absolute;
  right: 21px;
  bottom: 19px;
  height: 51px;
  width: 171px;
  background: url(../images/date1.png) no-repeat; }

.date2 {
  background: url(../images/date2.png) no-repeat !important; }

.date3 {
  width: 195px !important;
  background: url(../images/date3.png) no-repeat !important; }
