@use '../util/variables';
@import '../util/mixins.scss';

$home-maxWidth: 1267px;
$home-maxHeight: 480px;
$home-cardWidth: 670px;
$home-cardHeight: 110px;

$holla-text-width: 1198px;
$holla-text-height: 273px;

$shadow-color: hsla(220, 14%, 17%, 0.3);

.main {
	display: flex;
	flex-flow: wrap;
	position: relative;
	left: 40px;
	width: 100%;
	// height: 764px;
	height: 70vh;
	// --height: 44vw;
	// height: var(--height);
	max-height: 764px;
	border-radius: 10px 0 0 10px;
	background-color: #F7F3E7;
	margin-top: 38px;
	filter:
      drop-shadow(
        -4px 6px 4px $shadow-color
      )
      drop-shadow(
        -2px 6px 6px $shadow-color
      )
	  drop-shadow(
        0px 4px 10px $shadow-color
      )
	;
	overflow: hidden;



	// @media screen and (min-width: variables.$MQ-large-laptop) {
	// 	--height:auto;
	// }


	.hola-container {
		width: calc(($holla-text-width / $home-maxHeight) * 100%);
		height: max-content;
		margin: 4vh 1vh 0 2vw;
		// color: #FAFFFD;

		// @media screen and (max-width: variables.$MQ-large-tablet) {
		// 	margin-top: 30px;
		// }

		.hola {
			width: 100%;
			height: 100%;
		}
	}

	.peep-container {
		position: absolute;
		// width: calc((195px / 567px) * 100%);
		// height: 51vh;
		max-height: 627px;
		margin-top: .5%; // 8%
		margin-left: 33%; //32.4%;
		overflow: hidden;

		// @media screen and (max-width: variables.$MQ-large-laptop) {
		// 	margin-left: 28.36%;
		// }

		// @media screen and (max-width: variables.$MQ-large-tablet) {
		// 	margin-left: 26.36%;
		// }

		.peep {
			// width: 100%;
			width: 80%;
			height: 100%;
			max-width: 216px;
		}
	}

	.homeCard {
		display: flex;
		position: absolute;
		width: 50vw;
		margin-top: 34.04%;
    	margin-left: 50.4%;

		// @media screen and (max-width: variables.$MQ-large-tablet) {
		// 	margin: 0 15px;
		// }

		h1 {
			@include fluid-type(
				variables.$MQ-large-laptop,
				variables.$MQ-large-desktop,
				16px,
				22px
			);
			text-align: left;
			font-weight: 400;
			font-family: variables.$font-family-amatic;
			color: #000;
		}
	}
}
