@use '../../styles/util/variables.module.scss';
@import '../../styles/util/mixins.scss';

$page_height: 709px;
$infoBox_width: 1269px;
$infoBox_height: 578px;

.workPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: $page_height;
	background-color: variables.$color-homeGray;

	.workContent {
		display: flex;
		flex-direction: column;
		width: 100%;

		.top {
			display: flex;
			position: relative;
			align-items: baseline;
			justify-content: space-between;
			height: 30px;
			margin: 20px 42px 10px;

			.subheader {
				display: flex;
				align-items: center;
				height: 100%;

				h1 {
					@include fluid-type(
						variables.$MQ-large-laptop,
						variables.$MQ-large-desktop,
						16px,
						22px
					);
					text-align: center;
					font-weight: 400;
					font-family: variables.$font-family-amatic;
					color: variables.$color-pink;
				}
			}

			.tabLogo {
				width: 99px;
				height: 100%;

				img {
					max-width: 99px;
					margin: 0 auto;
				}
			}
		}

		.background {
			position: relative;
			width: calc((1270px / 1280px) * 100%);
			height: $infoBox_height;
			background-color: variables.$color-textGrey;
			margin-left: 10px;
			padding-left: 11px;
			padding-bottom: 4px;

			.infoBorder {
				pointer-events: none;
				position: absolute;
				width: 100%;
				height: calc(100% - 4px);
				border-left: 2px solid variables.$color-overlayDrkGray;
				border-bottom: 2px solid variables.$color-overlayDrkGray;
			}

			.projectContainer {
				display: flex;
				flex-flow: column wrap;
				width: 100%;
				height: 100%;
				overflow: auto;
				scroll-behavior: smooth;
				-ms-overflow-style: none; /* IE and Edge */
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none;
				}

				.projects {
					display: flex;
					justify-content: space-evenly;
					flex-flow: row wrap;
					margin-top: 20px;
				}
			}
		}

		.bottom {
			display: flex;
			margin-top: 10px;
			margin-left: 180px;
		}
	}
}
