@use '../util/variables';
@import '../util/mixins.scss';

.workPage {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: variables.$color-pink;

	.top {
		display: flex;
		align-items: flex-end;
		align-self: flex-end;
		padding-bottom: 0.5vw;
		height: 6vw;
		width: 97vw;
		max-height: 63px;
		min-height: 40px;

		.subheader {
			display: flex;
			align-items: flex-end;
			height: 100%;
			margin-left: 1.5vw;

			h1 {
				@include fluid-type(
					variables.$MQ-large-laptop,
					variables.$MQ-large-desktop,
					14px,
					20px
				);
				padding-bottom: 2px;
				font-weight: 400;
				font-family: variables.$font-family-amatic;
				color: variables.$color-pink;
				margin: 0;
			}
		}

		.tabLogo {
			display: flex;
			flex-direction: column;
			max-width: 78px;
			margin-left: 2.5vw;

			img {
				max-width: 78px;
				margin-left: auto;
			}

			.lines {
				width: 100%;
				max-width: 100px;
				border-top: 1px solid variables.$color-pink;
				margin-top: 4px;
			}
		}
	}

	.mainContainer {
		position: relative;
		display: flex;
		align-self: flex-end;
		width: 97vw;
		height: 79vh;
		border-radius: 10px 0 0 10px;
		// background-color: variables.$color-textGrey;
		background-color: #F7F3E7;;
		overflow: hidden;

		// .infoBorder {
		// 	pointer-events: none;
		// 	position: absolute;
		// 	left: 1vw;
		// 	bottom: 2vw;
		// 	width: 100%;
		// 	height: 100%;
		// 	border-left: 2px solid rgba($color: #000000, $alpha: 0.2);
		// 	border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
		// }

		.projectContainer {
			display: flex;
			flex-flow: column wrap;
			overflow: auto;
			scroll-behavior: smooth;
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none;
			margin-left: 4vw;
			margin-right: 3vw;
			margin-top: 2vw;
			margin-bottom: 2.2vw;

			&::-webkit-scrollbar {
				display: none;
			}

			.fade {
				position: absolute;
				top: 20px;
				width: 100%;
				height: 4px;
				background: linear-gradient(
					180deg,
					rgba(54, 54, 54, 1) 0%,
					rgba(54, 54, 54, 0) 100%
				);
			}

			.projects {
				display: flex;
				column-gap: 4vw;
				row-gap: 2vw;
				flex-flow: row wrap;
			}
		}
	}

	.bottom {
		display: flex;
		margin-top: 10px;
		margin-left: 180px;
	}
}
