@use '../../styles/util/variables';

.footer {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 53px;
	max-width: variables.$desktop-width;
	margin-top: auto;

	&.shift {
		height: 31px;

		.greyBar {
			display: none;
		}

		.ctaContent {
			justify-content: start;
		}

		.cta {
			margin-left: 14px;
			bottom: 20px;
		}
	}

	.greyBar {
		position: relative;
		top: 4px;
		width: 100%;
		height: 23px;
		max-height: 23px;
		background-color: variables.$color-overlayDrkGray;
	}

	.ctaContent {
		display: flex;
		position: absolute;
		width: 100%;
		align-items: center;
		justify-content: center;

		h1 {
			font-family: variables.$font-family-heavitas;
			font-size: 10px;
			color: variables.$color-textOffWhite;
		}

		.cta {
			cursor: pointer;
			display: flex;
			position: relative;
			align-items: center;
			width: 170px;
			height: 30px;
			border-radius: 6px;
			margin-left: 20px;
			overflow: hidden;

			.ctaBg {
				width: 100%;
				height: 100%;
				background-color: white;
				pointer-events: none;

				.pink {
					float: right;
					display: inline-block;
					width: 0;
					height: 0;
					border-top: 30px solid variables.$color-pink;
					border-right: 12px solid variables.$color-pink;
					border-left: 20px solid transparent;
				}
				.yellow {
					display: inline-block;
					position: relative;
					left: 144px;
					width: 4px;
					height: 30px;
					background-color: variables.$color-yellow;
					transform: skew(34deg);
				}

				.blue {
					display: inline-block;
					position: relative;
					left: 144px;
					width: 4px;
					height: 30px;
					background-color: variables.$color-blue;
					transform: skew(34deg);
				}
			}

			h2 {
				position: absolute;
				right: 54px;
				font-family: variables.$font-family-blankRiver;
				font-size: 20px;
				font-weight: normal;
				color: variables.$color-textGrey;
				margin: 0;
			}
		}
	}

	small {
		position: relative;
		top: 15px;
		left: 5px;
		opacity: 0.25;
		font-size: 8px;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: variables.$font-family-myriad;
		color: #686868;
	}
}
