@use '../../styles/util/variables';
@import '../../styles/util/mixins.scss';

$header-max-height: 220px;
// $border-max-height: 159px;
// $logoContainer-max-width: 864px;
// $logoContainer-max-height: 164px;
// $logo-max-width: 820px;
// $logo-max-height: 120px;
// $subheader-max-width: 440px;
// $subheader-min-width: 250px;
// $subheader-max-height: 16px;

.header {
	width: 100%;
	max-height: $header-max-height;
}
