@use '../util/variables';

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: variables.$font-size;
	font-family: variables.$font-family;
	color: #fff;
	background-color: variables.$color-bodybg;
	// background-color: black;
	margin: 0;
	overflow: hidden;

	.hide {
		display: none !important;
	}
}
