@use '../util/variables.module.scss';

.mainContainer {
	width: 80vw;
	max-width: 766px;

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background-color: variables.$color-bgGray;
		border-radius: 6px 6px 0 0;
		border-bottom: solid 3px variables.$color-teal;

		h1 {
			pointer-events: none;
			font-size: 24px;
			font-family: variables.$font-family-blankRiver;
			letter-spacing: 2px;
			color: variables.$color-pink;
			padding-right: 50px;
		}

		.logoContainer {
			display: flex;
			margin: 10px 0 6px 15px;

			.logo {
				width: 2vw;
				min-width: 18px;
				max-width: 22px;

				img {
					width: 100%;
					max-width: 23px;
					max-height: 31px;
					margin: 0 auto;
				}
			}

			.subheaderContainer {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: fit-content;
				height: 16px;
				margin-left: 12px;

				h1 {
					font-size: 9px;
					font-family: variables.$font-family-akira;
					font-style: normal;
					color: #fff;
					letter-spacing: 1.2px;
					margin: 0;
					padding: 0;
				}

				span {
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background: variables.$color-pink;
					margin: 0 7px;
				}
			}
		}

		button {
			cursor: pointer;
			font-size: 20px;
			font-family: variables.$font-family-blankRiver;
			text-decoration: none;
			border: none;
			color: variables.$color-textOffWhite;
			background-color: transparent;
			padding: 0 10px;
			margin-right: 10px;
			margin-left: auto;

			&:hover {
				color: variables.$color-yellow;
			}
		}
	}

	.content {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		background-color: variables.$color-bgGray;

		h1 {
			display: flex;
			align-items: center;
			font-size: 10px;
			font-family: variables.$font-family-heavitas;
			color: #fff;
			letter-spacing: 1px;
			margin: 10px 0;

			span {
				font-size: 20px;
				font-weight: 400;
				font-family: variables.$font-family-blankRiver;
				letter-spacing: 1.2px;
				color: variables.$color-pink;
				margin-left: 4px;
			}
		}

		.main {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90%;
			background-color: variables.$color-homeGray;
			margin-bottom: 30px;
		}
	}
}
