@use '../util/variables';
@import '../util/mixins.scss';

$home-maxWidth: 1267px;
$home-maxHeight: 480px;
$home-cardWidth: 670px;
$home-cardHeight: 110px;

$holla-text-width: 1198px;
$holla-text-height: 273px;

.main {
	display: flex;
	flex-flow: wrap;
	width: calc(($home-maxWidth / variables.$desktop-width) * 100%);
	height: 500px;
	max-width: $home-maxWidth;
	background-color: variables.$color-homeGray;
	margin-bottom: calc((48px / calc(($home-maxHeight / 220px) * 100%)) * 100%);
	margin-left: 11px;

	.bgLines {
		position: absolute;
		width: 100%;
		height: 474px;
		// height: 454px;
		border-left: 2px solid variables.$color-overlayDrkGray;
		border-bottom: 2px solid variables.$color-overlayDrkGray;
		padding-left: 9px;
		margin-left: 9px;
	}

	.hola-container {
		width: calc(($holla-text-width / $home-maxHeight) * 100%);
		height: max-content;
		max-width: $holla-text-width;
		max-height: $holla-text-height;
		margin: calc((34px / $home-maxWidth) * 100%) 31px 0 0;
		padding-left: 30px;

		@media screen and (max-width: variables.$MQ-large-tablet) {
			margin-top: 30px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.peep-container {
		position: absolute;
		width: calc((195px / 567px) * 100%);
		height: 370px;
		max-height: 567px;
		margin-top: 7.04%;
		margin-left: 30.36%;
		overflow: hidden;

		@media screen and (max-width: variables.$MQ-large-laptop) {
			margin-left: 28.36%;
		}

		@media screen and (max-width: variables.$MQ-large-tablet) {
			margin-left: 26.36%;
		}

		img {
			width: 100%;
			max-width: 195px;
		}
	}

	.homePage-navigation {
		display: flex;
		align-self: flex-end;
		justify-content: center;
		width: 100%;
		height: 127px;
		max-height: 127px;
		z-index: 1;
		margin-left: 11px;
		padding-left: 12px;
		padding-right: 25px;
		margin-bottom: 16px;

		@media screen and (max-width: variables.$MQ-large-tablet) {
			height: 90px;
		}

		@media screen and (max-width: variables.$MQ-large-laptop) {
			height: 100px;
		}

		.workLink-container {
			cursor: pointer;
			width: 213px;
			height: 100%;

			* {
				pointer-events: none;
			}

			&:hover h2 {
				transition: color 0.3s ease-in;
				color: variables.$color-blue;
			}

			.workLogo {
				display: flex;
				justify-content: flex-end;
				width: 100%;

				img {
					width: 100%;
					max-width: 168px;
					margin: 0 0 0 auto;
				}
			}

			h2 {
				display: flex;
				justify-content: flex-end;
				font-size: 9px;
				@include fluid-type(
					variables.$MQ-large-tablet,
					variables.$MQ-large-desktop,
					7.5px,
					9px
				);
				font-weight: 200;
				font-family: variables.$font-family-heavitas;
				letter-spacing: 0.1px;
				color: variables.$color-textOffWhite;
				transition: color 0.3s ease-in;
				margin: 5px 0 2px;
			}

			.buttonLines-work {
				width: 100%;
				height: 4px;
				border-top: 1px solid variables.$color-pink;
				border-bottom: 1px solid variables.$color-pink;
			}
		}

		.aboutLink-container {
			cursor: pointer;
			width: 186px;
			height: 100%;

			* {
				pointer-events: none;
			}

			&:hover h2 {
				transition: color 0.3s ease-in;
				color: variables.$color-blue;
			}

			.aboutLogo {
				display: flex;
				justify-content: flex-start;
				width: 100%;

				img {
					width: 100%;
					max-width: 69px;
					margin: 0 auto 0 0;
				}
			}

			h2 {
				display: flex;
				justify-content: flex-start;
				font-size: 9px;
				@include fluid-type(
					variables.$MQ-large-tablet,
					variables.$MQ-large-desktop,
					7.5px,
					9px
				);
				font-weight: 200;
				font-family: variables.$font-family-heavitas;
				letter-spacing: 0.1px;
				color: variables.$color-textOffWhite;
				transition: color 0.3s ease-in;
				margin: 5px 0 2px;
			}

			.buttonLines-about {
				width: 100%;
				height: 4px;
				border-top: 1px solid variables.$color-pink;
				border-bottom: 1px solid variables.$color-pink;
			}
		}

		.homeCard {
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(($home-cardWidth / $home-maxWidth) * 100%);
			height: 100%;
			max-width: $home-cardWidth;
			background-color: variables.$color-textGrey;
			margin: 0 30px;

			@media screen and (max-width: variables.$MQ-large-tablet) {
				margin: 0 15px;
			}

			h1 {
				@include fluid-type(
					variables.$MQ-large-laptop,
					variables.$MQ-large-desktop,
					16px,
					22px
				);
				text-align: center;
				font-weight: 400;
				font-family: variables.$font-family-amatic;
				color: variables.$color-pink;
			}
		}
	}
}
