@use '../util/variables';
@import '../util/mixins';

.logo {
	// position: absolute;
	position: relative;
	// margin-top: 4vw;
	cursor: pointer;
	pointer-events: none;
	border-bottom: 4px solid #FA7D81;
	max-width: 250px;
	// margin-left: auto;

	@media screen and (max-width: 1050px) {
			// margin-left: 40px;
		}

	img {
		display: block;
		// width: calc((820px / 864px) * 100%);
		// margin-top: calc((15px / variables.$desktop-height) * 100%); //1.875%)
		// width: 446px;
		width: 100%;
		
		margin-bottom: 4px;
		// margin-bottom: 8px;
	}
}
