@use '../util/variables';
@import '../util/mixins';

.logo {
	// position: absolute;
	margin-top: 4vw;
	cursor: pointer;
	pointer-events: none;
	border-bottom: 6px solid #FA7D81;
	max-width: 446px;
	margin-left: auto;

	img {
		display: block;
		// width: calc((820px / 864px) * 100%);
		// margin-top: calc((15px / variables.$desktop-height) * 100%); //1.875%)
		width: 446px;
		margin-bottom: 8px;
	}
}

