@use '../util/variables';
@import '../util/mixins.scss';

$home-maxWidth: 1267px;
$home-maxHeight: 480px;
$home-cardWidth: 670px;
$home-cardHeight: 110px;

$holla-text-width: 1198px;
$holla-text-height: 273px;

.main {
	display: flex;
	flex-flow: wrap;
	width: calc(($home-maxWidth / variables.$desktop-width) * 100%);
	height: calc(($home-maxHeight / 220px) * 100%);
	max-width: $home-maxWidth;
	max-height: $home-maxHeight;
	background-color: variables.$color-homeGray;
	margin-bottom: calc((48px / calc(($home-maxHeight / 220px) * 100%)) * 100%);
	margin-left: 11px;

	.bgLines {
		position: absolute;
		width: 100%;
		height: 454px;
		border-left: 2px solid variables.$color-overlayDrkGray;
		border-bottom: 2px solid variables.$color-overlayDrkGray;
		padding-left: 9px;
		margin-left: 9px;
	}

	.hola-container {
		width: calc(($holla-text-width / $home-maxHeight) * 100%);
		height: max-content;
		max-width: $holla-text-width;
		max-height: $holla-text-height;
		margin: calc((34px / $home-maxWidth) * 100%) 31px 0 0;
		padding-left: 30px;

		.hola {
			width: 100%;
			height: 100%;
		}

		.peep {
		}
	}

	.homePage-navigation {
		display: flex;
		// justify-content: center;
		align-self: flex-end;
		// position: relative;
		// bottom: 353px;
		width: 100%;
		height: 127px;
		z-index: 1;
		margin-left: 11px;
		// padding-bottom: 4px;
		margin-bottom: 16px;

		.workLink-container {
			// display: flex;
			// flex-flow: wrap;
			// justify-content: end;
			// align-items: flex-start;
			border: 2px solid red;
			width: 213px;
			height: 100%;
			// background-color: red;

			.workLogo {
				width: 100%;
				height: 100%;
				max-width: 168px;
				max-height: 42px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			h2 {
				font-size: 9px;
				font-weight: 200;

				font-family: variables.$font-family-heavitas;
				color: variables.$color-textOffWhite;
				margin-top: 2px;
				padding: 0;
			}
		}

		.aboutLink-container {
			border: 2px solid red;
			width: 217px;
			height: 100%;
			// background-color: green;

			img {
				width: 100%;
				height: 100%;
				max-width: px;
				max-height: 42px;
			}
		}

		.homeCard {
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc(($home-cardWidth / $home-maxWidth) * 100%);
			height: 100%;
			max-width: $home-cardWidth;
			background-color: variables.$color-textGrey;

			h1 {
				@include fluid-type(
					variables.$MQ-large-laptop,
					variables.$MQ-large-desktop,
					16px,
					22px
				);
				text-align: center;
				font-weight: 400;
				font-family: variables.$font-family-amatic;
				color: variables.$color-pink;
			}
		}
	}
}
