@use '../util/variables';
@import '../util/mixins';

$nav-col-width: 115px;
$nav-exp-width: 480px;
$nav-exp-height: 40px;

$tab-width : 150px;
$tab-line-bottom : 20%;
$tab-line-width : 55%;

$shadow-color: hsla(0, 0%, 0%, 0.3);

.navContainer {
	display: flex;
	// position: relative;
	// align-items: center;
	max-width: $nav-exp-width;
	height: $nav-exp-height;
	border-radius: 6px;
	background-color: variables.$color-button-pink;
	overflow: hidden;
	// margin-top: calc((47px/1024px)*100%);
	margin-top: 3vw; //1.5vw;
	margin-left: 4%;
	// margin-right: auto;
	filter: drop-shadow(0px 0px 5px $shadow-color);

	&.onPages {
		margin-top: 1.5vw;
		// background-color: magenta;
	}

	// @media screen and (max-width: 1056px) {
	// 	margin-right: 4%;
	// }

	.navTabs {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 100%;

		.shapes {
			position: absolute;
			width: 100%;
			height: 100%;
			transform: skew(200deg);
			pointer-events: none;
		}
		
		.shape_front {
			@extend .shapes;
			width: calc($tab-width + 40px);
			transform: skew(0deg);
		}

		.shape_end {
			@extend .shapes;
		}

		.shape_end::after {
			content: '';
			position: absolute;
			left: 40px;
			width: 60px;
			height: $nav-exp-height;
			background-color: variables.$color-button-white;
			transform: skew(-20deg);
		}


		h2 {
			font-family: variables.$font-family-blankRiver;
			font-size: 19px;
			letter-spacing: .5px;
			font-weight: normal;
			color: #000;
			margin: 0;
			width: fit-content;
		}

		hr {
			visibility: hidden;
			position: absolute;
			bottom: $tab-line-bottom;
			border-style: solid;
			width: 0%;
			border-width: 1px;
			border-color: rgb(255, 255, 255);
			transition: all 0.1s ease-in;
		}

		.tabs_default {
			position: relative;
			display: flex;
			width: $tab-width;
			justify-content: center;
			align-items: center;

			h2 {
				position: absolute;
			}
		}

		/// TAB Button Hover effect ------------------------------------------------------
		.workTab, .aboutTab, .contactTab {
			&:hover {
				hr {
					visibility: visible;
					width: $tab-line-width;
					transition: width 0.2s ease-out;
				}
			}
		}

		/// TAB 1 ------------------------------------------------------
		.work {
			@extend .tabs_default;

			&.workTabActive {
				h2 {
					color: variables.$color-button-pink;
					transition: color 0.5s ease-out;
				}
				.pink {
					background-color: #000;
				}
			}

			.pink {
				@extend.shape_front;
				background-color: variables.$color-button-pink;
			}
		}

		/// TAB 2 ------------------------------------------------------
		.about {
			@extend .tabs_default;

			&.aboutTabActive {
				h2 {
					color: variables.$color-button-yellow;
					transition: color 0.5s ease-out;
				}
				.yellow {
					background-color: #000;
				}
			}

			.yellow {
				@extend.shapes;
				background-color: variables.$color-button-yellow;
			}
		}

		
		/// TAB 3 ------------------------------------------------------
		.contact {
			@extend .tabs_default;

			&.contactTabActive {
				h2 {
					color: variables.$color-button-green;
					transition: color 0.5s ease-out;
				}
				.blue {
					background-color: #000;
				}
			}

			.blue {
				@extend.shapes;
				background-color: variables.$color-button-green;
			}
		}

		/// Menu ------------------------------------------------------
		.navMenu {
			display: flex;
			position: relative;
			left: -10px;
			width: 51px;

			.white {
				@extend .shape_end;
				background-color: variables.$color-button-white;
			}

			.menuCta {
				display: flex;
				align-items: center;
				position: absolute;
				margin-top: 6px;
				margin-left: 22px;

				img {
					width: 100%;
					max-width: 51px;
					max-height: 17px;
					margin-left: 5px;
				}
			}

			.closeXtext {
				display: flex;
				align-items: center;
				position: absolute;
				margin-top: 4px;
				margin-left: 32px;
				font-family: variables.$font-family-blankRiver;
				font-size: 18px;
				color: variables.$color-btnTextGrey;
			}
		}
	}
}