@use '../util/variables';
@import '../util/mixins';

$nav-col-width: 115px;
$nav-exp-width: 480px;
$nav-exp-height: 40px;

$tab-width : 150px;
$tab-line-bottom : 20%;
$tab-line-width : 55%;

.navContainer {
	display: flex;
	position: relative;
	align-items: center;
	width: $nav-exp-width;
	height: $nav-exp-height;
	border-radius: 6px;
	background-color: variables.$color-button-pink;
	// background-color: brown;
	overflow: hidden;
	margin-top: calc((47px/1024px)*100%);
	margin-left: 4%;
	margin-right: auto;

	.navTabs {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 100%;

		.shapes {
			width: 100%;
			height: 100%;
			transform: skew(200deg);
		}

		.shape_cap {
			width: 100%;
			height: 100%;
			transform: skew(200deg);
		}

		.shape_cap::after {
			content: '';
			position: absolute;
			left: 40px;
			width: 60px;
			height: $nav-exp-height;
			background-color: variables.$color-button-white;
			transform: skew(-20deg);
		}

		.shape_front {
			width: 100%;
			height: 100%;
			background-color: variables.$color-button-pink;
			width: calc($tab-width + 40px);
			position: absolute;
		}

		h2 {
			font-family: variables.$font-family-blankRiver;
			font-size: 19px;
			letter-spacing: .5px;
			font-weight: normal;
			color: #000;
			margin: 0;
			width: fit-content;
		}

		.homeTab:hover {
			hr {
				visibility: visible;
				width: $tab-line-width;
				// transition: width 0.3s ease-out;
			}
		}

		.home {
			position: relative;
			display: flex;
			width: $tab-width;
			justify-content: center;
			align-items: center;

			h2 {
				position: absolute;
			}

			hr {
				visibility: hidden;
				position: absolute;
				bottom: $tab-line-bottom;
				border-style: solid;
				width: 0%;
				border-width: 1px;
				border-color: rgb(255, 255, 255);
				// transition: all 0.2s ease-out;
			}

			// &.homeTabActive .pink {
			// 	background-color: black;
			// 	// transition: background-color 0.2s ease-out;
			// }

			// &.homeTabActive.open {
			// 	.pink {
			// 		// opacity: 0.33;
			// 		background-color: rgb(43, 255, 0);
			// 		// transition: background-color 0.3s ease-in 0.3s;
			// 		// transition: background-color 0.2s ease-out;
			// 	}

			// 	h2 {
			// 		color: #fff;
			// 		letter-spacing: 1.3px;
			// 		font-size: 16px;
			// 		// transition: background-color 0.4s ease-out;
			// 	}
			// }

			&.homeTabActive .yellow {
				background-color: black;
				// transition: background-color 0.2s ease-out;
			}

			&.homeTabActive.open {

				.pink {
					// opacity: 0.33;
					background-color: rgb(43, 255, 0);
					// transition: background-color 0.3s ease-in 0.3s;
					// transition: background-color 0.2s ease-out;
				}

				h2 {
					color: #fff;
					letter-spacing: 1.3px;
					font-size: 16px;
					// transition: background-color 0.4s ease-out;
				}
			} 

			.yellow {
				@extend.shapes;
				background-color: variables.$color-button-yellow;
				pointer-events: none;
			}
		}

		.workTab:hover {
			hr {
				visibility: visible;
				width: $tab-line-width;
				// transition: width 0.3s ease-out;
			}
		}

		.work {
			position: relative;
			display: flex;
			width: $tab-width;
			justify-content: center;
			align-items: center;			

			h2 {
				position: absolute;
			}

			&.workTabActive .pink {
				background-color: black;
				// transition: background-color 0.2s ease-out;
			}

			&.workTabActive.open .pink {
				// background-color: variables.$color-yellow;
				background-color: rgb(43, 255, 0);
				// transition: background-color 0.3s ease-in 0.3s;
			}

			.pink {
				@extend.shape_front;
				pointer-events: none;
			}

			hr {
				visibility: hidden;
				position: absolute;
				bottom: $tab-line-bottom;
				border-style: solid;
				width: 0%;
				border-width: 1px;
				border-color: rgb(255, 255, 255);

				// transition: all 0.2s ease-out;
			}
		}

		.aboutTab:hover {
			hr {
				visibility: visible;
				width: $tab-line-width;
				// transition: width 0.3s ease-out;
			}
		}

		.about {
			position: relative;
			display: flex;
			width: $tab-width;
			justify-content: center;
			align-items: center;

			h2 {
				position: absolute;
			}


			&.aboutTabActive .blue {
				background-color: black;
				// transition: background-color 0.2s ease-out;
			}

			&.aboutTabActive.open {
				.blue {
					// background-color: hsl(158 49% 35% / 1); //variables.$color-blue;
					background-color: rgb(43, 255, 0);
					// opacity: 0.33;
					// transition: background-color 0.2s ease-out;
				}

				h2 {
					color: #fff;
					letter-spacing: 1.3px;
					font-size: 16px;
					// transition: background-color 0.4s ease-out;
				}
			}

			// &.aboutTabActive .blueTxt {
			// 	top: 3px;
			// 	left: 23px;

			// 	img {
			// 		display: none;
			// 	}

			// 	span {
			// 		display: block;
			// 	}
			// }

			.blue {
				@extend.shapes;
				position: absolute;
				left: 0;
				width: inherit;
				background-color: variables.$color-button-green;
				pointer-events: none;
			}

			hr {
				visibility: hidden;
				position: absolute;
				bottom: $tab-line-bottom;
				border-style: solid;
				width: 0%;
				border-width: 1px;
				border-color: rgb(255, 255, 255);

				// transition: all 0.2s ease-out;
			}
		}

		.navMenu {
			display: flex;
			position: relative;
			left: -10px;
			width: 51px;

			.white {
				@extend .shape_cap;
				background-color: #fff;
				pointer-events: none;
			}

			.menuCta {
				display: flex;
				align-items: center;
				position: absolute;
				margin-top: 6px;
				margin-left: 22px;

				img {
					width: 100%;
					max-width: 51px;
					max-height: 17px;
					margin-left: 5px;
				}
			}

			.closeXtext {
				display: flex;
				align-items: center;
				position: absolute;
				margin-top: 4px;
				margin-left: 32px;
				font-family: variables.$font-family-blankRiver;
				font-size: 18px;
				color: variables.$color-btnTextGrey;
			}
		}
	}
}