@use '../util/variables';
@import '../util/mixins.scss';


.cardContainer {
    cursor: pointer;
	display: inline-flex;
	flex: 0.5 0 250px;
	flex-direction: column;
	align-items: flex-start;
	max-width: 450px;
	margin-bottom: 30px;

    h1 {
        pointer-events: none;
	font-size: 18px;
	font-family: variables.$font-family-amatic;
	letter-spacing: 0.6px;
	color: variables.$color-button-pink;
	margin: 0 0 0 5px;
    }

    img {
        pointer-events: none;
        width: 100%;
        max-height: 280px;
        background-color: black;
    }

    h2 {
    pointer-events: none;
	font-size: 9px;
	font-family: variables.$font-family-heavitas;
	letter-spacing: 0.6px;
	color: variables.$color-textGrey;
	margin: 5px 0 0 5px;
    }
}