#videoContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 970px;
  z-index: 11; }

#videoPlayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: black; }

#vidControls {
  position: absolute;
  bottom: 10px;
  left: 35px;
  height: 26px;
  width: 900px;
  z-index: 3;
  display: none; }

#playButton {
  position: absolute;
  top: 6px;
  left: 8px;
  height: 14px;
  width: 7px;
  overflow: hidden;
  cursor: pointer;
  z-index: 2; }
  #playButton svg, #playButton path {
    fill: #FFF; }
  #playButton:hover svg, #playButton:hover path {
    fill: #a2978a; }

#pauseButton {
  position: absolute;
  top: 6px;
  left: 8px;
  height: 14px;
  width: 9px;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  display: none; }
  #pauseButton svg, #pauseButton path {
    fill: #FFF; }
  #pauseButton:hover svg, #pauseButton:hover path {
    fill: #a2978a; }

#soundOnButton {
  position: absolute;
  top: 5px;
  right: 6px;
  height: 16px;
  width: 18px;
  cursor: pointer;
  z-index: 2; }
  #soundOnButton svg, #soundOnButton path {
    fill: #FFF; }
  #soundOnButton:hover svg, #soundOnButton:hover path {
    fill: #a2978a; }

#soundOffButton {
  position: absolute;
  top: 5px;
  right: 6px;
  height: 16px;
  width: 18px;
  cursor: pointer;
  z-index: 2;
  display: none; }
  #soundOffButton svg, #soundOffButton path {
    fill: #FFF; }
  #soundOffButton:hover svg, #soundOffButton:hover path {
    fill: #a2978a; }

#videoScrubber {
  position: absolute;
  width: 840px;
  height: inherit;
  left: 25px;
  top: 1px;
  z-index: 3; }

#scrubHandle {
  position: absolute;
  top: 8px;
  left: 0;
  height: 8px;
  width: 8px;
  z-index: 6;
  cursor: pointer;
  background: #FFF; }

.endControlScrubber {
  width: 190px !important; }

#scrubTrack {
  position: absolute;
  top: 10px;
  left: 0;
  height: 4px;
  width: inherit;
  background: #252847;
  z-index: 5;
  cursor: pointer; }

#scrubProgress {
  position: absolute;
  top: 10px;
  left: 0;
  height: 4px;
  width: 0;
  background: #a2978a;
  z-index: 5;
  pointer-events: none; }

#vidControlBg {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 4px;
  background-color: black;
  opacity: 0.4; }

#snd-icon {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 20px;
  width: 10px;
  background: url("../images/cfs.png") no-repeat;
  overflow: hidden; }

#videoLogo {
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 300px;
  background: url("../images/videoTT.png") no-repeat; }

#videoClick {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer; }

#replayBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 15px;
  width: 15px;
  z-index: 11;
  cursor: pointer; }
  #replayBtn svg, #replayBtn path {
    fill: white; }
  #replayBtn:hover {
    transition: all 0.5s ease-out;
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body, body * {
  vertical-align: baseline;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  overflow: hidden; }

.hidden {
  display: none;
  visibility: hidden; }

#adContainer {
  height: 250px;
  width: 970px;
  display: none;
  position: relative;
  overflow: hidden;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease-out; }
  #adContainer.ready {
    display: block; }

#border {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  border: 1px solid #000;
  z-index: 12;
  pointer-events: none; }

.bg-exit {
  z-index: 10;
  cursor: pointer; }
  .bg-exit.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

#endframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  background: url("../images/bg.jpg") no-repeat; }

#dateLockup {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  cursor: pointer;
  pointer-events: none;
  z-index: 11; }

#divider {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  background: url("../images/divider.png") no-repeat; }

#hbomax {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  background: url("../images/hbomax.png") no-repeat; }

#date {
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 970px;
  background: url("../images/date1.png") no-repeat; }

.date2 {
  background: url("../images/date2.png") no-repeat !important; }

.date3 {
  background: url("../images/date3.png") no-repeat !important; }
