@use '../../styles/util/variables';
@import '../../styles/util/mixins.scss';

$footer-text-color : #2F2F2F;

.footer {
	display: flex;
	position: absolute;
	width: 55%;
	// max-width: 600px;
	// min-width: 400px;
	bottom: 0;
	min-height: 50px;
	border-radius: 0 10px 0 0;
	flex-wrap: wrap;
	background-color: #B1E1F8;
	// background-color: variables.$color-button-white;


	.ctaContent {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		h1 {
			display: inline-block;
			position: relative;
			font-family: variables.$font-family-heavitas;
			font-size: 12px;
			color: $footer-text-color;
			@include fluid-type(
					1000px,
					1284px,
					10px,
					12px
				);
			// letter-spacing: .05em;
			-webkit-font-smoothing: antialiased;
			// transition: all .2s ease-out;

			@media screen and (max-width: 1000px) {
				@include fluid-type(
					840px,
					1000px,
					8px,
					10px
				);
				// letter-spacing: 0em;
				// transition: all .2s ease-out;
			}
		}

		.cta {
			cursor: pointer;
			display: inline-block;
			position: relative;
			width: 170px;
			height: 30px;
			margin-left: 13px;
			border-radius: 6px;
			overflow: hidden;
			transition: width .3s ease;

			// @media screen and (max-width: 1080px) {
			// 	width: 120px;
			// 	transition: all .2s ease-out;
			// }

			// @media screen and (max-width: 1000px) {
			// 	margin: 0 8px;
			// }

			@media screen and (max-width: 1000px) {
				width: 130px;
				// margin: 0 8px;
				transition: all .3s ease;
			}

			.ctaBg {
				position: absolute;
				top: 0;
				right: 0;
				width: 170px;
				height: 30px;
				border-radius: 6px;
				overflow: hidden;
				background-color: variables.$color-button-white;
				pointer-events: none;

				.pink {
					float: right;
					width: 0;
					height: 0;
					border-top: 30px solid variables.$color-button-pink;
					border-right: 12px solid variables.$color-button-pink;
					border-left: 20px solid transparent;
				}

				.yellow {
					display: inline-block;
					position: relative;
					left: 144px;
					width: 4px;
					height: 30px;
					background-color: variables.$color-button-yellow;
					transform: skew(34deg);
				}

				.blue {
					display: inline-block;
					position: relative;
					left: 144px;
					width: 4px;
					height: 30px;
					background-color: variables.$color-button-green;
					transform: skew(34deg);
				}
			}

			h2 {
				position: absolute;
				transform: translate(30px, 3px);
				font-family: variables.$font-family-blankRiver;
				font-size: 20px;
				font-weight: normal;
				color: variables.$color-textGrey;
				margin: 0;
				transition: all .3s ease;

					@media screen and (max-width: 1000px) {
					// @include fluid-type(
					// 	1080px,
					// 	1284px,
					// 	17px,
					// 	20px
					// );
					font-size: 17px;
					transform: translate(15px, 5px);
					transition: all .3s ease;
				}
			}
		}

		small {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: flex-end;
			opacity: 0.25;
			font-size: 8px;
			font-weight: 700;
			letter-spacing: 1px;
			font-family: variables.$font-family-myriad;
			color: #686868;
		}
	}
}