@use '../../styles/util/variables';
@import '../../styles/util/mixins.scss';

.header {
	display: flex;
	justify-content: center;
	position: relative;
	// position: absolute;
	// height: 17.25%;
	// height: calc((77px / 400px) * 100%);
}

// .headerBg {
// 	// position: absolute;
// 	width: 100%;
// 	height: 230px;
// 	background-color: black;
// 	opacity: .2;
// }

.headerPages {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 3px solid variables.$color-teal;
	width: 100%;
	max-height: 60px;
}
