@use '../../styles/util/variables';
@import '../../styles/util/mixins.scss';

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100px;
}

.headerPages {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
	height: 100px;
}
