@use '../util/variables';
@import '../util/mixins';

$header-bg-height : 230px;
$pages-bg-height : 100px;

.container {
	display: flex;
    min-height: 100vh;
	flex-direction: column;
	background-color: variables.$color-pink;
	overflow: hidden;
	user-select: none;

	.headerBg {
		position: absolute;
		width: 100%;
		height: $header-bg-height;
		background-color: black;
		opacity: .2;
		transition: height 0.4s ease-out;
	}

	// &.about {
	// 	background-color: variables.$color-overlayDrkGray;
	// }

	&.portfolio, &.about {
		.headerBg {
			height: $pages-bg-height;
			transition: height 0.4s ease-out;
		}
	}

	.guyBust {
		pointer-events: none;
		position: absolute;
		bottom: -40px;
		right: -56px;
		// z-index: 1;

		img {
			width: 100%;
			max-width: 173px;
			max-height: 274px;
			transform: scaleX(-1);
		}
	}

	.wrapper {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;

		section {
			width: 100%;
			// height: wrapperHeight();
		}
	}
}
