@mixin reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

// Fluid Fonts -----///

@function strip-unit($value) {
	@return calc($value / (($value * 0) + 1px));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
						((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
				);
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

// Fluid Fonts -----\\\

@function wrapperHeight($y-position){
	// $y-position should be a number

	$height-pct: unit((vh \ $y-position)*100); 

	// need a percentage to return
	@return $height-pct;
}


// have bottom get sticky when it reaches the bottom of the page

// 1. Get height of page.
// 2. Get height and y position of footer
// 3. height of page - y position of footer = new baseline
// 4. baseline - height of footer = distance from bottom of the page
// 5. return distance from bottom of the page;

// @function shortyGetLow(){
// 	@return floor; 
// }